= link_to "Back", connection_path(@meeting.connection), class: ""
h1 = "Meeting for #{pretty_date(@meeting.date)}"

p = render_html_text(@meeting.notes)


= link_to "Edit", edit_connection_meeting_path(@meeting.connection, @meeting), class: "btn btn-secondary"
