h1 = @goal.name

b Due Date: 
= @goal.time_to_complete
br

b Description: 
= @goal.description
br

= link_to "Edit", edit_goal_path(@goal), class: "btn btn-secondary"
= link_to "Back to List", goals_path, class: "btn btn-secondary"
